<div class="main-wrap">
  <div class="main">
    <h3>Question Index</h3>
    <div class="main-table">
      <table class="table">
        <tbody>
          <% @questions.each do |question| %>
          <tr>
            <td><%= link_to question.title, project_subject_part_question_path(question.project_id, question.subject_id, question.part_id, question) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
