<div class="main-wrap">
  <div class="main">
    <h3>Question Show</h3>
    <div class="main-table">
      <table class="table">
        <tbody>
          <tr>
            <th><%= @question.title %></th>
          </tr>
          <tr>
            <td><%= @question.content %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <% if user_signed_in? %>
    <%= link_to 'Edit', edit_project_subject_part_question_path(@project, @subject, @part, @question), class: 'btn btn-info btn-block btn-lg' %>
    <% end %>
  </div>
</div>
