<ul>
  <% parts.each do |part| %>
    <% if part.id.present? %>
      <li>
        <p><%= link_to part.title, project_subject_part_path(@project, @subject, part) %></p>
      </li>
    <% end %>
  <% end %>
</ul>
