<div class="main-wrap">
  <div class="main">
    <h3>Part Show</h3>
    <div class="main-table">
      <table class="table">
        <tbody>
          <tr>
            <th><%= @part.title %></th>
          </tr>
          <tr>
            <td><%= @part.content.html_safe %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <%= link_to 'Edit', edit_project_subject_part_path(@project, @subject, @part), class: 'btn btn-info btn-block btn-lg' %>
  </div>
</div>
