<div class="main-wrap">
  <div class="main">
    <h3><%= @user.name %></h3>
    <div class="main-table">
      <table class="table">
        <tbody>
          <tr>
            <th><%= User.human_attribute_name(:email) %></th>
            <td><%= @user.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= stylesheet_link_tag "user", :media => "all" %>
