<h1>Project Introduction</h1>

<% if @project_user.present? %>
  <%= link_to '退出する', project_user_path(id: @project_user.id), method: :delete, class: 'btn btn-danger' %>
<% else %>
  <%= link_to '参加する', project_users_path(project_id: @project.id), method: :post, class: 'btn btn-primary' %>
<% end %>
