<h1>Project Introduction</h1>
<% if current_user.present? %>
  <% if @project_user.present? %>
    <%= link_to '退出する', project_user_path(id: @project_user.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to '参加する', project_users_path(project_id: @project.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% else %>
  <% if @project_admin.present? %>
    <%= link_to '退出する', project_admin_path(id: @project_admin.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to '参加する', project_admins_path(project_id: @project.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>
