<div class="jumbotron jumbotron-extend animated rubberBand">
</div>
<div class="container">
  <%= render 'form', project: @project %>
</div>

<%= stylesheet_link_tag "projects/new", :media => "all" %>
