<div class="jumbotron jumbotron-extend animated rubberBand">
</div>
<div class="container">
  <%= link_to 'カリキュラムの作成を始める', project_admins_path(project_id: @project.id), method: :post, class: 'btn btn-info btn-block btn-lg' %>
</div>

<%= stylesheet_link_tag "projects/introduction", :media => "all" %>
