<% if user_signed_in? %>
<%= stylesheet_link_tag "user", :media => "all" %>
<% end %>
<div class="main-wrap">
  <div class="main">
    <h3>Subject Index</h3>
    <div class="form">
      <%= render partial:'subjects/form', locals: { subject: @subject, project: @project } %>
    </div>
    <div class="main-table">
      <%= render partial: 'subjects/index', locals: { subjects: @subjects, project: @project } %>
    </div>
  </div>
</div>
