<%= form_with(model: [project, subject], local: true) do |form| %>
  <div class="form-group">
    <%= form.text_field :title, placeholder: "input title", class: "form-control" %>
    <%= form.submit nil, class: "btn btn-outline-info btn-sm" %>
  </div>
<% end %>
