<ul>
  <% subjects.each do |subject| %>
    <% if subject.id.present? %>
      <li>
        <p><%= link_to subject.title, project_subject_path(@project, subject) %>
        <%= link_to 'Edit', edit_project_subject_path(@project, subject) %></p>
      </li>
    <% end %>
  <% end %>
</ul>
