<p>
  <h2>Subject Title: <%= @subject.title %></h2>
</p>
<%= link_to "new part", new_project_subject_part_path(@project, @subject, @part) %>

<div class="main-wrap">
  <div class="container-fluid">
    <h3>Subject Index</h3>
    <div class="main-table">
      <%= render partial: 'parts/index', locals: { parts: @parts } %>
    </div>
  </div>
</div>
