@import url('https://fonts.googleapis.com/css?family=Varela+Round');
.header {
    display: table;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #008080;
    opacity: 0.98;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}
.header-brand {
  display:table-cell;
  text-align: center;
  color: #fff;
  font-weight: bold;
  vertical-align: middle;
  font-size: 1.2em;
  padding-left: 40px;
}
.header-link {
  display:table-cell;
  text-align: right;
  color: #fff;
  vertical-align: middle;
  font-size: 1em;
  font-weight: bold;
}
.header-link a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}
.header-link a:hover {
  color: #333333
}
.header-link a.active {
  color: #333333
}
#sidebarMenu {
    z-index: 200000;
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #008080 0%, #00CCCC 100%);
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    word-break: break-all;
    border: 5px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
// ここからドロップダウンメニュー
li:hover{
  background: #FFFFFF;
  opacity: 0.98;
  color: #008080;
}
li a{
  display: block;
  padding: 20px;
  margin: 0;
}

li a:hover{
  color: #008080;
}
.dropdwn_menu li{
  padding: 0;
}

.dropdwn_menu{
    width: 100%;
    display: none;
    position: absolute;
    margin-left: 250px;
    padding: 0;
    background: linear-gradient(180deg, #008080	 0%, #00CCCC 100%);
    opacity: 0.98;
    overflow: scroll;
    height: 100vh;
}
#header-close{
    display: none;
    position: fixed;
    z-index: 150000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
}
.openSidebarMenu:checked ~ #header-close{
    display: block;
    opacity: .7;
}
