.navigation-title {
  margin: 75px 20px 0;
  font-size: 0.8rem;
}
.navigation {
  margin: 10px;
}
.navigation .row {
  border: 1px solid #AAAAAA;
  border-radius: 5px;
}
.navigation .row .col {
  border: 1px solid #AAAAAA;
  text-align: center;
  background-color: #D3D3D3;
  opacity: 0.6;
  padding: 0;
  text-decoration: none;
}
.navigation a:hover{
  background: linear-gradient(90deg, #777777 0%, #AAAAAA	 110%);
  opacity: 0.98;
}
