.navigation-title {
  margin: 75px 20px 0;
  font-size: 0.8rem;
}
.navigation {
  margin: 10px;
}
.navigation .row {
  border: 1px solid #AAAAAA;
  border-radius: 5px;
}
.navigation .row .col {
  border: 1px solid #AAAAAA;
  text-align: center;
  // background-color: #D3D3D3;
  opacity: 0.6;
  padding: 0;
  text-decoration: none;
}
.navigation a.active{
  background: #555555;
  color: #fff;
  opacity: 0.98;
}
